{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Warenkorb</h1>
    <div class="ad-container">
        {% if cart_items %}
            {% for item in cart_items %}
            <div class="ad-item">
                <img src="{% if item.product.smartphone.pictureFront %}{{ item.product.smartphone.pictureFront.url }}{% else %}{% static 'images/no-image-available.png' %}{% endif %}" alt="{{ item.product.name }}">
                <div class="ad-item-overlay">
                    <h2>{{ item.product.name }}</h2>
                    <p>Anzahl: {{ item.quantity }}</p>
                    <p>Preis: €{{ item.product.smartphone.basic_price }}</p>
                    <p>Spezifikationen: {{ item.product.smartphone.memory_size }} RAM, {{ item.product.smartphone.storage_size }} Speicher</p>
                    <!-- Buttons zum Aktualisieren und Entfernen aus dem Warenkorb -->
                    <a href="{% url 'update_basket' item.id %}" class="ad-item-button">Aktualisieren</a>
                    <a href="{% url 'remove_from_basket' item.id %}" class="ad-item-button">Entfernen</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Ihr Warenkorb ist leer.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
