{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<div id="banner" data-brand="{{ manufacturer }}" class="container-full">
    <div class="banner-overlay">
        <div class="banner-headline">{{ manufacturer }}</div>
    </div>
</div>

<div class="container-full">
    <div class="container">
        <div class="gallery-container">
            {% for key, phones in grouped_smartphones.items %}
            <div class="gallery">
                <div class="carousel" id="carousel{{ forloop.counter }}">
                    {% for phone in phones %}
                    <div class="gallery-item {% if forloop.first %}active{% endif %}" style="display: none;">
                        <a href="{% url 'product_details' phone.id %}" title="{{ phone.model }}">
                            <div class="gallery-item-image">
                                <img src="{{ phone.pictureFront.url }}" alt="{{ phone.model }}">
                            </div>
                            <div class="gallery-item-content">
                                <span class="brand">{{ phone.manufacturer }}</span>
                                <span class="model">{{ phone.model }}</span>
                                <div>{{ phone.color }}</div>
                                <div>{{ phone.memory_size }} GB memory</div>
                                <div>{{ phone.storage_size }} GB storage</div>
                                <div class="price">{{ phone.basic_price }} €</div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <button onclick="previousImage('carousel{{ forloop.counter }}')">Previous</button>
                <button onclick="nextImage('carousel{{ forloop.counter }}')">Next</button>
            </div>
            {% empty %}
            <p>Keine Produkte von {{ manufacturer }} gefunden.</p>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    function nextImage(carouselId) {
        const carousel = document.getElementById(carouselId);
        const active = carousel.querySelector('.active');
        let next = active.nextElementSibling || carousel.firstElementChild;
        active.classList.remove('active');
        active.style.display = 'none';
        next.classList.add('active');
        next.style.display = 'block';
    }

    function previousImage(carouselId) {
        const carousel = document.getElementById(carouselId);
        const active = carousel.querySelector('.active');
        let previous = active.previousElementSibling || carousel.lastElementChild;
        active.classList.remove('active');
        active.style.display = 'none';
        previous.classList.add('active');
        previous.style.display = 'block';
    }

    document.addEventListener('DOMContentLoaded', function() {
        var carousels = document.querySelectorAll('.carousel');
        carousels.forEach(function(carousel) {
            const firstItem = carousel.querySelector('.gallery-item');
            if (firstItem) {
                firstItem.style.display = 'block'; // Stellt sicher, dass das erste Element sichtbar ist
            }
        });
    });
</script>

{% endblock content %}
