{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="container-full">
    <div class="container">
        <div class="container-product-details">
            <!-- PRODUCT IMAGES -->
            <div id="image-slider" class="container-product-image">
                {% if smartphone.pictureFront and smartphone.pictureBack and smartphone.pictureSide and smartphone.pictureDetail %}
                <div class="cpi-image">
                    <img src="{{ smartphone.pictureFront.url }}" alt="{{ smartphone.model }} Front">
                </div>
                <div class="cpi-image">
                    <img src="{{ smartphone.pictureBack.url }}" alt="{{ smartphone.model }} Back">
                </div>
                <div class="cpi-image">
                    <img src="{{ smartphone.pictureSide.url }}" alt="{{ smartphone.model }} Side">
                </div>
                <div class="cpi-image">
                    <img src="{{ smartphone.pictureDetail.url }}" alt="{{ smartphone.model }} Detail">
                </div>
                {% else %}
                <p>No images available for this product.</p>
                {% endif %}
            </div>

            <!-- PRODUCT INFORMATION -->
            <div class="container-product-information">
                <div class="container-product-information-inner">
                    <div class="product-informations">
                        <div class="product-header">
                            <div class="product-header-name">
                                <div class="pi-brand">
                                    <div class="pi-brand-name">
                                        <p>{{ smartphone.manufacturer }}</p>
                                    </div>
                                </div>

                                <div class="pi-product">
                                    <p class="pi-product-name">{{ smartphone.model }}</p>
                                </div>
                            </div>
                            
                            <div class="pi-brand-icon">
                                <img src="{% static 'images/icons/brand-icons/icon-'|add:smartphone.manufacturer|lower|add:'-50.png' %}" alt="{{ smartphone.manufacturer }}">
                            </div>
                        </div>

                        <div class="pi-price">
                            <span class="pi-price-value">{{ smartphone.basic_price }}0 €</span>
                            <span class="pi-price-vat">
                                <a href="">inkl. MwSt., zzgl. Versand</a>
                            </span>
                        </div>
                    </div>


                    
                    <!-- PRODUCT VARIATIONS -->
                    <div class="product-variation-container">
                        <!-- Color Variations -->
                        <div class="variation-container">
                            <h6 class="variation-headline">Farbe ändern:</h6>
                            <div class="variation-selection">
                                {% for variation in color_variations %}
                                <a href="{% url 'product_details' variation.id %}" class="variation-link" style="background-color: {{ variation.color_code }}; border-radius: 50%; width: 32px; height: 32px;">
                                    <!-- Kein Inhalt nötig, Farbe wird durch background-color gesteuert -->
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Storage Variations -->
                        <div class="variation-container">
                            <h6 class="variation-headline">Speicherplatz ändern:</h6>
                            <div class="variation-selection">
                                {% for variation in storage_variations %}
                                <a href="{% url 'product_details' variation.id %}" class="variation-link" style="background: #eee; width: 80px; height: 50px; display: flex; justify-content: center; align-items: center;">
                                    <span>{{ variation.storage_size }} GB</span>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Memory Variations -->
                        <div class="variation-container">
                            <h6 class="variation-headline">Arbeitsspeicher ändern:</h6>
                            <div class="variation-selection">
                                {% for variation in memory_variations %}
                                <a href="{% url 'product_details' variation.id %}" class="variation-link" style="background: #eee; width: 80px; height: 50px; display: flex; justify-content: center; align-items: center;">
                                    <span>{{ variation.memory_size }} GB</span>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="description-container">
                        <h6>Beschreibung</h6>
                        <div class="description">
                            <p>{{ smartphone.description }}</p>
                        </div>
                    </div>

                    <!-- Add to Basket Form -->
                <div class="add-to-basket-container">
                    <form action="{% url 'basket' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ smartphone.id }}">
                        <label for="quantity">Menge:</label>
                        <select id="quantity" name="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <button type="submit" class="add-to-basket">In den Warenkorb</button>
                    </form>
                    
                </div>

                    <div class="details-container">
                        <h6>Spezifikationen</h6>
                        <div class="details">
                            <div class="detail"><span>Hersteller: {{ smartphone.manufacturer }}</span></div>
                            <div class="detail"><span>Modell: {{ smartphone.model }}</span></div>
                            <div class="detail"><span>Farbe: {{ smartphone.color }}</span></div>
                            <div class="detail"><span>Speicherplatz: {{ smartphone.storage_size }}</span></div>
                            <div class="detail"><span>Prozessor: {{ smartphone.prozessortyp }}</span></div>
                            <div the="detail"><span>Displaygröße: {{ smartphone.display }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}