
{% load static %}

<div class="container-full">
    <div class="container">

        <div class="gallery-container">

            {% comment %} Hier werden die Produkte mit nachfolgendem Gerüst geladen {% endcomment %}
            <div class="gallery-item">
                <div class="gallery-item-image">
                    {% comment %} 
                        Das erste Bild des Produkts dynamisch im <img>-Tag (src) einfügen 
                        Name des Produkts dynamisch im <img>-Tag (alt) einfügen 
                    {% endcomment %}
                    <a href="" title="">
                        <img src="" alt=""> 
                    </a>
                </div>
                <div class="gallery-item-content">
                    <div class="gallery-item-name">
                        {% comment %} Herstellername dynamisch laden {% endcomment %}
                        <span class="brand"></span>
                        {% comment %} Modell dynamisch laden {% endcomment %}
                        <span class="model"></span>
                        {% comment %} Farbe dynamisch laden {% endcomment %}
                        <div class="color"></div>
                    </div>

                    {% comment %} Preis dynamisch laden {% endcomment %}
                    <div class="price"></div>
                    {% comment %} Farben des  Models dynamisch laden {% endcomment %}
                    <div class="variations">
                        <div class="variation">                            
                            <div class="var color" style="background: #44484B;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D1DCCC;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D5DDE0;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDD5D6;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDE8CA;"></div>
                        </div>
                    </div>
                </div>
            </div>



            {% comment %} Ab hier alles löschen! {% endcomment %}
            <div class="gallery-item">
                <div class="gallery-item-image">
                    <a href="" title="">
                        <img src="{% static 'images/products/iphone15_titan-black_01.png' %}" alt=""> 
                    </a>
                </div>
                <div class="gallery-item-content">
                    <div class="gallery-item-name">
                        <span class="brand">Apple</span>
                        <span class="model">iPhone 15</span>
                        <div class="color">titan black</div>
                    </div>
                    <div class="price">1.149,00 €</div>
                    <div class="variations">
                        <div class="variation">                            
                            <div class="var color" style="background: #44484B;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D1DCCC;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D5DDE0;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDD5D6;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDE8CA;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-item-image">
                    <a href="" title="">
                        <img src="{% static 'images/products/iphone15_titan-black_01.png' %}" alt=""> 
                    </a>
                </div>
                <div class="gallery-item-content">
                    <div class="gallery-item-name">
                        <span class="brand">Apple</span>
                        <span class="model">iPhone 15</span>
                        <div class="color">titan black</div>
                    </div>
                    <div class="price">1.149,00 €</div>
                    <div class="variations">
                        <div class="variation">                            
                            <div class="var color" style="background: #44484B;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D1DCCC;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D5DDE0;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDD5D6;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDE8CA;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-item-image">
                    <a href="" title="">
                        <img src="{% static 'images/products/iphone15_titan-black_01.png' %}" alt=""> 
                    </a>
                </div>
                <div class="gallery-item-content">
                    <div class="gallery-item-name">
                        <span class="brand">Apple</span>
                        <span class="model">iPhone 15</span>
                        <div class="color">titan black</div>
                    </div>
                    <div class="price">1.149,00 €</div>
                    <div class="variations">
                        <div class="variation">                            
                            <div class="var color" style="background: #44484B;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D1DCCC;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D5DDE0;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDD5D6;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDE8CA;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-item-image">
                    <a href="" title="">
                        <img src="{% static 'images/products/iphone15_titan-black_01.png' %}" alt=""> 
                    </a>
                </div>
                <div class="gallery-item-content">
                    <div class="gallery-item-name">
                        <span class="brand">Apple</span>
                        <span class="model">iPhone 15</span>
                        <div class="color">titan black</div>
                    </div>
                    <div class="price">1.149,00 €</div>
                    <div class="variations">
                        <div class="variation">                            
                            <div class="var color" style="background: #44484B;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D1DCCC;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D5DDE0;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDD5D6;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDE8CA;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-item-image">
                    <a href="" title="">
                        <img src="{% static 'images/products/iphone15_titan-black_01.png' %}" alt=""> 
                    </a>
                </div>
                <div class="gallery-item-content">
                    <div class="gallery-item-name">
                        <span class="brand">Apple</span>
                        <span class="model">iPhone 15</span>
                        <div class="color">titan black</div>
                    </div>
                    <div class="price">1.149,00 €</div>
                    <div class="variations">
                        <div class="variation">                            
                            <div class="var color" style="background: #44484B;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D1DCCC;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D5DDE0;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDD5D6;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDE8CA;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-item-image">
                    <a href="" title="">
                        <img src="{% static 'images/products/iphone15_titan-black_01.png' %}" alt=""> 
                    </a>
                </div>
                <div class="gallery-item-content">
                    <div class="gallery-item-name">
                        <span class="brand">Apple</span>
                        <span class="model">iPhone 15</span>
                        <div class="color">titan black</div>
                    </div>
                    <div class="price">1.149,00 €</div>
                    <div class="variations">
                        <div class="variation">                            
                            <div class="var color" style="background: #44484B;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D1DCCC;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D5DDE0;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDD5D6;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDE8CA;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-item-image">
                    <a href="" title="">
                        <img src="{% static 'images/products/iphone15_titan-black_01.png' %}" alt=""> 
                    </a>
                </div>
                <div class="gallery-item-content">
                    <div class="gallery-item-name">
                        <span class="brand">Apple</span>
                        <span class="model">iPhone 15</span>
                        <div class="color">titan black</div>
                    </div>
                    <div class="price">1.149,00 €</div>
                    <div class="variations">
                        <div class="variation">                            
                            <div class="var color" style="background: #44484B;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D1DCCC;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D5DDE0;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDD5D6;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDE8CA;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-item-image">
                    <a href="" title="">
                        <img src="{% static 'images/products/iphone15_titan-black_01.png' %}" alt=""> 
                    </a>
                </div>
                <div class="gallery-item-content">
                    <div class="gallery-item-name">
                        <span class="brand">Apple</span>
                        <span class="model">iPhone 15</span>
                        <div class="color">titan black</div>
                    </div>
                    <div class="price">1.149,00 €</div>
                    <div class="variations">
                        <div class="variation">                            
                            <div class="var color" style="background: #44484B;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D1DCCC;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #D5DDE0;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDD5D6;"></div>
                        </div>
                        <div class="variation">
                            <div class="var color" style="background: #EDE8CA;"></div>
                        </div>
                    </div>
                </div>
            </div>

            {% comment %} Löschen Ende {% endcomment %}


        </div>

    </div>
</div>