{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<div id="banner" data-brand="{{ manufacturer }}" class="container-full">
    <div id ="{{ manufacturer }}"class="banner-overlay">
        <div class="banner-headline">{{ manufacturer }}</div>
    </div>
</div>

<div class="container-full">
    <div class="container">
        <div class="gallery-container">
            {% for smartphone in smartphones %}
            <div class="gallery-item" style="display: {% if smartphone.is_representative %}block{% else %}none{% endif %};">
                <div class="gallery-item-image">
                    {% if smartphone.pictureFront %}
                    <a href="{% url 'product_details' smartphone.id %}" title="{{ smartphone.model }}">
                        <img src="{{ smartphone.pictureFront.url }}" alt="{{ smartphone.model }}"> 
                    </a>
                    {% else %}
                    <a href="{% url 'product_details' smartphone.id %}" title="{{ smartphone.model }}">
                        <p>No image available for this product.</p>
                    </a>
                    {% endif %}
                </div>
                <div class="gallery-item-content">
                    <div class="gallery-item-name">
                        <span class="brand">{{ smartphone.manufacturer }}</span>
                        <span class="model">{{ smartphone.model }}</span>
                        <div class="color">{{ smartphone.color }}</div>

                    </div>
                    <div class="price">{{ smartphone.basic_price }}0 €</div> 
                </div>
            </div>
            {% empty %}
            <p>Keine Produkte von {{ manufacturer }} gefunden.</p>
            {% endfor %}
        </div>
    </div>
</div>

<p>Hersteller: {{ manufacturer }}</p>

<script>
function toggleVisibility(model) {
    document.querySelectorAll(`div.gallery-item:not([data-rep='${model}'])`).forEach(el => {
        el.style.display = el.style.display === 'none' ? 'block' : 'none';
    });
}
</script>

{% endblock content %}